@keyframes crtTurnOn {
  0% {
    transform: scale(1, 0.001) translate3d(0, 0, 0);
    filter: brightness(10);
    opacity: 0;
  }
  30% {
    transform: scale(1, 0.001) translate3d(0, 0, 0);
    filter: brightness(10);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: brightness(1);
    opacity: 1;
  }
}

.crt-turn-on {
  animation: crtTurnOn 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
}
